<nav class="navbar navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/">MyApp</a>

  <div class="ms-auto d-flex align-items-center gap-3">

     <!--  Show name only when logged in -->
    <span
      *ngIf="userService.isLoggedIn()"
      class="text-white fw-semibold">
      Hello, {{ userName }}
    </span>

    <!-- Show Logout if logged in -->
    <button
      *ngIf="userService.isLoggedIn()"
      (click)="logout()"
      class="btn btn-danger">
      Logout
    </button>

  </div>
</nav>

