<h2 mat-dialog-title>Select Level</h2>

<mat-dialog-content>
    <mat-radio-group [(ngModel)]="selectedLevel">
        @for (level of levels; track level) {
            <mat-radio-button [value]="level" class="level-option">{{level}}</mat-radio-button>
        }
    </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!selectedLevel" (click)="onContinue()">Continue</button>
</mat-dialog-actions>
